
@keyframes flyintobottom{
  from{
      transform:translateY(-150vh)
      }
  to{
    transform:translateY(0)
    }
  }


.login-form {
    animation: flyintobottom .4s backwards;
    position: absolute;
    left: calc(50% - 125px);;
    transition: all .2s ease-in-out;
}
.form {
    width:250px;
    padding: 75px 35px 75px 35px;
    background: #f44336;;
    text-align: center;
    border: 1px solid #f44336;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
    -webkit-box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
    -moz-box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    color:#fff;
}

#gConnect{
  width: 100px;
  margin: 10px auto;
}

.login-button:hover {
    background: #ed6256;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.36);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.36);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.36);
}

.login-button {
    display: inline-block;
    padding: 14px 25px;
    margin: -4.7em 0 1em -7px;
    width: 190px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
    background: #ED503E;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
}
